In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline
os.getcwd()

'/Users/HudsonCavanagh/dsi-projects/week02'

#### 1. Read in the Star Wars survey data from fivethirtyeight, saved here:
```../assets/datasets/StarWars.csv```

In [6]:
starwars = pd.read_csv('/Users/HudsonCavanagh/dsi-projects/538data/star-wars-survey/StarWars.csv')

#### 2. Print out the head of the data

In [7]:
starwars.head()

,RespondentID,Have you seen any of the 6 films in the Star Wars franchise?,Do you consider yourself to be a fan of the Star Wars film franchise?,Which of the following Star Wars films have you seen? Please select all that apply.,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film.,...,Unnamed: 28,Which character shot first?,Are you familiar with the Expanded Universe?,Do you consider yourself to be a fan of the Expanded Universe?��,Do you consider yourself to be a fan of the Star Trek franchise?,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,Response,Response,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,Star Wars: Episode I The Phantom Menace,...,Yoda,Response,Response,Response,Response,Response,Response,Response,Response,Response
1,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
2,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
4,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

#### 3. Print out the columns

In [23]:
starwars[0:0]

Empty DataFrame
Columns: [RespondentID, Have you seen any of the 6 films in the Star Wars franchise?, Do you consider yourself to be a fan of the Star Wars film franchise?, Which of the following Star Wars films have you seen? Please select all that apply., Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film., Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her., Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, Unnamed: 24, Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Which character shot first?, Are you familiar with the Expanded Universe?, Do you consider yourself to be a fan of the Expanded Universe?��, Do you consider yourself to be a fan of the Star Trek franchise?, Gender, Age, Household Income, Education, Location (Census Region), male_resp]
Index: []

[0 rows x 39 columns]

#### 4. What percent of respondents are male?

In [32]:
#starwars['male_resp'][1:] = 1 if 'gender' == 'Male' else 0
#starwars['male_resp'] = 0
#starwars['male_response'] = 1 if starwars['gender'] == 'Male' else 0

starwars.loc[starwars['Gender'] == 'Male', 'male_resp'] = 0
starwars.loc[starwars['Gender'] == 'Female', 'male_resp'] = 1
starwars.loc[starwars['Gender'] != 'Male' or 'Female', 'male_resp'] = np.nan

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [52]:
males = starwars['male_resp'] 
type(males)
#print(males)

pandas.core.series.Series

In [72]:
print("The proportion of male respondents in the sample is {}%".format(males.mean()*100))

The proportion of male respondents in the sample is 46.251053075%

In [66]:
#can also do, more simply:
float(starwars['Gender'][starwars.Gender=='Male'].count())/starwars['Gender'].cont()

AttributeError: 'Series' object has no attribute 'cont'

#### 5. Which movies are ranked as respondents #1 favorite movie most often?

In [80]:
starwars['fav_movie'] = 0


starwars.loc[starwars[:,9] == 1, 'fav_movie'] = "ep1"
starwars.loc[starwars[:,10] == 1, 'fav_movie'] = "ep2"
starwars.loc[starwars[:,11] == 1, 'fav_movie'] = "ep3"
starwars.loc[starwars[:,12] == 1, 'fav_movie'] = "ep4"
starwars.loc[starwars[:,13] == 1, 'fav_movie'] = "ep5"
starwars.loc[starwars[:,14] == 1, 'fav_movie'] = "ep6"

starwars['fav_movie'].value_counts()

SyntaxError: invalid syntax (<ipython-input-80-a5183624346b>, line 4)

In [103]:
priority = []
movie_names = ["Star Wars: Episode I The Phantom Menace",
               "Star Wars: Episode II  Attack of the Clones",
               "Star Wars: Episode III  Revenge of the Sith",
               "Star Wars: Episode IV  A New Hope",
               "Star Wars: Episode V The Empire Strikes Back",
               "Star Wars: Episode VI Return of the Jedi"]

for i in range(9,15):
    count = starwars.iloc[:,i].value_counts()
    priority.append(count[1])
    ratings = zip(movie_names, priority)
    print(count)

4                                           237
6                                           168
3                                           130
1                                           129
5                                           100
2                                            71
Star Wars: Episode I  The Phantom Menace      1
Name: Please rank the Star Wars films in order of preference with 1 being your favorite film in the franchise and 6 being your least favorite film., dtype: int64
5                                              300
4                                              183
2                                              116
3                                              103
6                                              102
1                                               32
Star Wars: Episode II  Attack of the Clones      1
Name: Unnamed: 10, dtype: int64
6                                              217
5                                              203
4                                              182
3                                              150
2                                               47
1                                               36
Star Wars: Episode III  Revenge of the Sith      1
Name: Unnamed: 11, dtype: int64
1                                    204
6                                    161
2                                    135
4                                    130
3                                    127
5                                     79
Star Wars: Episode IV  A New Hope      1
Name: Unnamed: 12, dtype: int64
1                                               289
2                                               235
5                                               118
3                                               106
4                                                47
6                                                41
Star Wars: Episode V The Empire Strikes Back      1
Name: Unnamed: 13, dtype: int64
2                                           232
3                                           220
1                                           146
6                                           145
4                                            57
5                                            36
Star Wars: Episode VI Return of the Jedi      1
Name: Unnamed: 14, dtype: int64