In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np


list = range(1,101)

In [ ]:
def fizzbuzz():
	number = int(raw_input("What's the highest number you want to iterate through? "))
	numberslist = range(1, number+1)
	for item in numberslist:
		if item % 3 == 0 and item % 5 == 0:
			print "FizzBuzz"
		elif item % 3 == 0:
			print "Fizz"
		elif item % 5 == 0:
			print "Buzz"
		else:
			print item

fizzbuzz()

In [51]:
def fizzbuzz2(item):
	if int(item) % 3 == 0 and int(item) % 5 == 0:
		return "FizzBuzz"
	elif int(item) % 3 == 0:
		return "Fizz"
	elif int(item) % 5 == 0:
		return "Buzz"
	else:
		return int(item)

In [ ]:
def fizzbuzz3(item):
	if int(item) % 3 == 0 and int(item) % 5 == 0:
		return "FizzBuzz"
	elif int(item) % 3 == 0:
		return "Fizz"
	elif int(item) % 5 == 0:
		return "Buzz"
	else:
		return int(item)

In [52]:
df = pd.DataFrame(list)
df.columns = ['nums'] 
df['fizzbuzz'] = df['nums'].apply(fizzbuzz2)

In [53]:
df.head()

   nums fizzbuzz
0     1        1
1     2        2
2     3     Fizz
3     4        4
4     5     Buzz

In [54]:
df2 = pd.DataFrame(list)
df2.columns = ['nums'] 
df2['fizzbuzz'] = df2.applymap(fizzbuzz2)

In [56]:
df2.head(16)

    nums  fizzbuzz
0      1         1
1      2         2
2      3      Fizz
3      4         4
4      5      Buzz
5      6      Fizz
6      7         7
7      8         8
8      9      Fizz
9     10      Buzz
10    11        11
11    12      Fizz
12    13        13
13    14        14
14    15  FizzBuzz
15    16        16

In [ ]:
def fibonacci():
    t=1
    fibo = [1]
    while n < 4000000:
        n = t*2
        fibo.append(n)
    print(fibo)
        
#fibonacci


def F1(n):
    k = []
    while k == [] or k[-1]< 4000000:
        p = n
        if p == 0: 
            k.append(0)
            n = 1
        elif p == 1: 
            k.append(1)
            n = k[-1]
        else: 
            return k.append(F(p-1)+F(p-2))
            n = k[-2] + k[-1]
    
print(F1(1))
    
# fibo=[0,1]
#for i in range (50):
#fibo.append(fibo[-1]+fibo[-2])

In [ ]:
k = []

def F(n):
    while k == [] or k[-1]< 400:
        if n == 0: 
            k.append(0)
            n = 1
        elif n == 1: 
            k.append(1)
            n = k[-1]
        else: 
            return k.append(F(n-1)+F(n-2))
            n = k[-2] + k[-1]
    return k
    
print(F(1))

In [ ]:
#answer with recursion on internet:

def fibR(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)
        print fibR(5)
    
fibR(1)