In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

os.getcwd()

'/Users/HudsonCavanagh/dsi-projects/DSI-NYC-1/curriculum/week-02/3.2-lab/code/starter-code'

In [6]:
# Read in realEstate.csv as a data frame
realestate = pd.read_csv('/Users/HudsonCavanagh/dsi-projects/DSI-NYC-1/curriculum/week-02/3.2-lab/assets/datasets/Sacramentorealestatetransactions.csv')
type(realestate)

pandas.core.frame.DataFrame

In [7]:
realestate.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [11]:
# The simplest pivot table must have a dataframe and an 
# index . Let’s use the city as our index.

pivot1 = pd.pivot_table(realestate, values=['baths', 'beds', 'price', 'sq__ft'],index='city', margins=1)

pivot1

                    baths      beds          price       sq__ft
city
ANTELOPE         2.212121  3.363636  232496.393939  1716.636364
AUBURN           2.600000  3.000000  405890.800000   898.600000
CAMERON PARK     1.666667  2.444444  267944.444444   224.000000
CARMICHAEL       1.850000  3.050000  295684.750000  1553.100000
CITRUS HEIGHTS   1.914286  3.228571  187114.914286  1308.685714
COOL             2.000000  3.000000  300000.000000  1457.000000
DIAMOND SPRINGS  2.000000  3.000000  216033.000000  1300.000000
EL DORADO        1.500000  2.500000  247000.000000  1332.000000
EL DORADO HILLS  2.304348  3.434783  491698.956522   233.434783
ELK GROVE        2.157895  3.359649  271157.692982  1848.728070
ELVERTA          2.000000  3.250000  132866.000000  1241.500000
FAIR OAKS        2.000000  3.000000  303500.666667  1659.777778
FOLSOM           2.117647  3.294118  414960.176471  1948.411765
FORESTHILL       0.000000  0.000000  194818.000000     0.000000
GALT             2.000000  3.333333  236943.428571  1560.857143
GARDEN VALLEY    2.000000  3.000000  490000.000000     0.000000
GOLD RIVER       1.500000  2.250000  358000.000000  1634.500000
GRANITE BAY      3.000000  4.666667  678733.333333  2974.000000
GREENWOOD        2.000000  3.000000  395000.000000  2846.000000
LINCOLN          0.680556  1.000000   96539.263889   133.875000
LOOMIS           3.000000  4.000000  567000.000000  1476.000000
MATHER           2.000000  3.000000  237800.000000  2093.000000
MEADOW VISTA     1.000000  3.000000  230000.000000  1216.000000
NORTH HIGHLANDS  1.571429  3.047619  135659.333333  1150.333333
ORANGEVALE       2.000000  3.363636  279159.545455  1647.363636
PENRYN           2.000000  3.000000  506688.000000  1320.000000
PLACERVILLE      1.900000  2.900000  363863.400000   852.600000
POLLOCK PINES    1.666667  2.666667  240302.666667  1328.000000
RANCHO CORDOVA   1.714286  2.642857  263405.928571  1362.071429
RANCHO MURIETA   1.666667  2.666667  297750.000000  1975.333333
RIO LINDA        1.538462  2.692308  172727.615385  1121.153846
ROCKLIN          1.764706  2.764706  381835.823529   878.647059
ROSEVILLE        1.770833  2.770833  324528.250000  1028.687500
SACRAMENTO       1.760820  3.027335  197735.988610  1394.259681
SHINGLE SPRINGS  0.000000  0.000000  275000.000000     0.000000
SLOUGHHOUSE      4.000000  3.000000    2000.000000  5822.000000
WALNUT GROVE     1.000000  3.000000  380000.000000  1727.000000
WEST SACRAMENTO  0.333333  0.666667  170700.000000   294.666667
WILTON           2.000000  3.400000  617508.400000  2807.800000
All              1.776650  2.911675  234144.263959  1314.916751

In [14]:
# How about indexing on multiple values. Let's look at the 
# data by city and zip next. 

pivot2 = pd.pivot_table(realestate, values=['baths', 'beds', 'price', 'sq__ft'],index=['city','zip'], margins=1)
pivot2

                          baths      beds          price       sq__ft
city            zip
ANTELOPE        95843  2.212121  3.363636  232496.393939  1716.636364
AUBURN          95603  2.600000  3.000000  405890.800000   898.600000
CAMERON PARK    95682  1.666667  2.444444  267944.444444   224.000000
CARMICHAEL      95608  1.850000  3.050000  295684.750000  1553.100000
CITRUS HEIGHTS  95610  2.428571  3.428571  226436.285714  1578.142857
                95621  1.785714  3.178571  177284.571429  1241.321429
COOL            95614  2.000000  3.000000  300000.000000  1457.000000
DIAMOND SPRINGS 95619  2.000000  3.000000  216033.000000  1300.000000
EL DORADO       95623  1.500000  2.500000  247000.000000  1332.000000
EL DORADO HILLS 95762  2.304348  3.434783  491698.956522   233.434783
ELK GROVE       95624  2.029412  3.441176  250743.676471  1675.764706
                95757  2.472222  3.555556  338334.583333  2344.555556
                95758  2.000000  3.136364  231969.250000  1576.704545
ELVERTA         95626  2.000000  3.250000  132866.000000  1241.500000
FAIR OAKS       95628  2.000000  3.000000  303500.666667  1659.777778
FOLSOM          95630  2.117647  3.294118  414960.176471  1948.411765
FORESTHILL      95631  0.000000  0.000000  194818.000000     0.000000
GALT            95632  2.000000  3.333333  236943.428571  1560.857143
GARDEN VALLEY   95633  2.000000  3.000000  490000.000000     0.000000
GOLD RIVER      95670  1.500000  2.250000  358000.000000  1634.500000
GRANITE BAY     95746  3.000000  4.666667  678733.333333  2974.000000
GREENWOOD       95635  2.000000  3.000000  395000.000000  2846.000000
LINCOLN         95648  0.680556  1.000000   96539.263889   133.875000
LOOMIS          95650  3.000000  4.000000  567000.000000  1476.000000
MATHER          95655  2.000000  3.000000  237800.000000  2093.000000
MEADOW VISTA    95722  1.000000  3.000000  230000.000000  1216.000000
NORTH HIGHLANDS 95660  1.571429  3.047619  135659.333333  1150.333333
ORANGEVALE      95662  2.000000  3.363636  279159.545455  1647.363636
PENRYN          95663  2.000000  3.000000  506688.000000  1320.000000
PLACERVILLE     95667  1.900000  2.900000  363863.400000   852.600000
...                         ...       ...            ...          ...
SACRAMENTO      95815  1.333333  2.722222  115133.000000  1067.666667
                95816  1.250000  2.000000  348750.000000  1115.000000
                95817  1.285714  2.714286  151122.714286  1101.714286
                95818  1.142857  2.142857  283217.714286  1173.571429
                95819  1.500000  3.500000  465750.000000  1695.500000
                95820  1.217391  2.652174  143371.478261  1018.173913
                95821  1.333333  3.166667  228666.666667  1445.333333
                95822  1.583333  3.041667  157677.666667  1162.666667
                95823  1.950820  3.213115  175243.049180  1433.065574
                95824  1.166667  2.500000  114467.583333  1019.333333
                95825  1.307692  2.307692  189686.769231  1149.923077
                95826  1.777778  3.222222  181119.944444  1339.277778
                95827  2.333333  3.666667  204104.111111  1703.777778
                95828  2.088889  3.466667  184676.955556  1504.977778
                95829  2.636364  3.909091  294142.454545  2306.090909
                95831  1.900000  2.800000  313271.000000  1572.000000
                95832  2.083333  3.333333  175196.833333  1634.500000
                95833  1.550000  2.850000  198765.900000  1242.550000
                95834  1.772727  2.681818  248426.272727  1460.227273
                95835  2.081081  3.189189  276275.918919  1835.054054
                95838  1.675676  2.945946  149461.351351  1247.378378
                95841  1.428571  3.000000  213806.142857  1382.428571
                95842  1.727273  2.954545  143281.772727  1210.181818
                95864  1.600000  2.800000  364400.000000  1521.200000
SHINGLE SPRINGS 95682  0.000000  0.000000  275000.000000     0.000000
SLOUGHHOUSE     95683  4.000000  3.000000    2000.000000  5822.000000
WALNUT GROVE    95690  1.000000  3.000000  380000.000000  1727.000000
WEST SACRAMENTO 95691  0.333333  0.666667  170700.000000   294.666667
WILTON          95693  2.000000  3.400000  617508.400000  2807.800000
All                    1.776650  2.911675  234144.263959  1314.916751

[72 rows x 4 columns]

In [16]:
# What we really want to take a look at next is price. So, 
# let's explicitly define the 'price' column by 
# using the values field.

pivot3 = pd.pivot_table(realestate, values=['price', 'sq__ft'],index=['city','zip'], margins=1)
pivot3

                               price       sq__ft
city            zip
ANTELOPE        95843  232496.393939  1716.636364
AUBURN          95603  405890.800000   898.600000
CAMERON PARK    95682  267944.444444   224.000000
CARMICHAEL      95608  295684.750000  1553.100000
CITRUS HEIGHTS  95610  226436.285714  1578.142857
                95621  177284.571429  1241.321429
COOL            95614  300000.000000  1457.000000
DIAMOND SPRINGS 95619  216033.000000  1300.000000
EL DORADO       95623  247000.000000  1332.000000
EL DORADO HILLS 95762  491698.956522   233.434783
ELK GROVE       95624  250743.676471  1675.764706
                95757  338334.583333  2344.555556
                95758  231969.250000  1576.704545
ELVERTA         95626  132866.000000  1241.500000
FAIR OAKS       95628  303500.666667  1659.777778
FOLSOM          95630  414960.176471  1948.411765
FORESTHILL      95631  194818.000000     0.000000
GALT            95632  236943.428571  1560.857143
GARDEN VALLEY   95633  490000.000000     0.000000
GOLD RIVER      95670  358000.000000  1634.500000
GRANITE BAY     95746  678733.333333  2974.000000
GREENWOOD       95635  395000.000000  2846.000000
LINCOLN         95648   96539.263889   133.875000
LOOMIS          95650  567000.000000  1476.000000
MATHER          95655  237800.000000  2093.000000
MEADOW VISTA    95722  230000.000000  1216.000000
NORTH HIGHLANDS 95660  135659.333333  1150.333333
ORANGEVALE      95662  279159.545455  1647.363636
PENRYN          95663  506688.000000  1320.000000
PLACERVILLE     95667  363863.400000   852.600000
...                              ...          ...
SACRAMENTO      95815  115133.000000  1067.666667
                95816  348750.000000  1115.000000
                95817  151122.714286  1101.714286
                95818  283217.714286  1173.571429
                95819  465750.000000  1695.500000
                95820  143371.478261  1018.173913
                95821  228666.666667  1445.333333
                95822  157677.666667  1162.666667
                95823  175243.049180  1433.065574
                95824  114467.583333  1019.333333
                95825  189686.769231  1149.923077
                95826  181119.944444  1339.277778
                95827  204104.111111  1703.777778
                95828  184676.955556  1504.977778
                95829  294142.454545  2306.090909
                95831  313271.000000  1572.000000
                95832  175196.833333  1634.500000
                95833  198765.900000  1242.550000
                95834  248426.272727  1460.227273
                95835  276275.918919  1835.054054
                95838  149461.351351  1247.378378
                95841  213806.142857  1382.428571
                95842  143281.772727  1210.181818
                95864  364400.000000  1521.200000
SHINGLE SPRINGS 95682  275000.000000     0.000000
SLOUGHHOUSE     95683    2000.000000  5822.000000
WALNUT GROVE    95690  380000.000000  1727.000000
WEST SACRAMENTO 95691  170700.000000   294.666667
WILTON          95693  617508.400000  2807.800000
All                    234144.263959  1314.916751

[72 rows x 2 columns]

In [18]:
# The 'price' column automatically averages the data.  
# We can do a count or a sum by using aggfunc and np.sum.

pivot4 = pd.pivot_table(realestate, values=['baths', 'beds', 'price', 'sq__ft'],index=['city','zip'], margins=1, aggfunc=np.sum)
pivot4

                       baths  beds      price   sq__ft
city            zip
ANTELOPE        95843     73   111    7672381    56649
AUBURN          95603     13    15    2029454     4493
CAMERON PARK    95682     15    22    2411500     2016
CARMICHAEL      95608     37    61    5913695    31062
CITRUS HEIGHTS  95610     17    24    1585054    11047
                95621     50    89    4963968    34757
COOL            95614      2     3     300000     1457
DIAMOND SPRINGS 95619      2     3     216033     1300
EL DORADO       95623      3     5     494000     2664
EL DORADO HILLS 95762     53    79   11309076     5369
ELK GROVE       95624     69   117    8525285    56976
                95757     89   128   12180045    84404
                95758     88   138   10206647    69375
ELVERTA         95626      8    13     531464     4966
FAIR OAKS       95628     18    27    2731506    14938
FOLSOM          95630     36    56    7054323    33123
FORESTHILL      95631      0     0     194818        0
GALT            95632     42    70    4975812    32778
GARDEN VALLEY   95633      2     3     490000        0
GOLD RIVER      95670      6     9    1432000     6538
GRANITE BAY     95746      9    14    2036200     8922
GREENWOOD       95635      2     3     395000     2846
LINCOLN         95648     49    72    6950827     9639
LOOMIS          95650      6     8    1134000     2952
MATHER          95655      2     3     237800     2093
MEADOW VISTA    95722      1     3     230000     1216
NORTH HIGHLANDS 95660     33    64    2848846    24157
ORANGEVALE      95662     22    37    3070755    18121
PENRYN          95663      2     3     506688     1320
PLACERVILLE     95667     19    29    3638634     8526
...                      ...   ...        ...      ...
SACRAMENTO      95815     24    49    2072394    19218
                95816      5     8    1395000     4460
                95817      9    19    1057859     7712
                95818      8    15    1982524     8215
                95819      6    14    1863000     6782
                95820     28    61    3297544    23418
                95821      8    19    1372000     8672
                95822     38    73    3784264    27904
                95823    119   196   10689826    87417
                95824     14    30    1373611    12232
                95825     17    30    2465928    14949
                95826     32    58    3260159    24107
                95827     21    33    1836937    15334
                95828     94   156    8310463    67724
                95829     29    43    3235567    25367
                95831     19    28    3132710    15720
                95832     25    40    2102362    19614
                95833     31    57    3975318    24851
                95834     39    59    5465378    32125
                95835     77   118   10222209    67897
                95838     62   109    5530070    46153
                95841     10    21    1496643     9677
                95842     38    65    3152199    26624
                95864      8    14    1822000     7606
SHINGLE SPRINGS 95682      0     0     275000        0
SLOUGHHOUSE     95683      4     3       2000     5822
WALNUT GROVE    95690      1     3     380000     1727
WEST SACRAMENTO 95691      1     2     512100      884
WILTON          95693     10    17    3087542    14039
All                     1750  2868  230632100  1295193

[72 rows x 4 columns]