# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

In [1]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
from __future__ import division, print_function

import requests
from bs4 import BeautifulSoup
from selenium import webdriver

import pandas as pd
import numpy as np

from IPython.core.display import HTML, Image

In [3]:
r = requests.get(URL)
indeed = BeautifulSoup(r.content, "lxml")

In [4]:
col_list = ['location', 'title', 'company', 'salary', 'description']

def prime_time(soup):
    location_list = []
    role_title_list = []
    company_list = []
    salaries = []
    summaries = []

    for t in soup.findAll("div", class_='result'):
        location = t.find('span', class_='location').text # WORKS!
        location_list.append(location)
        title = t.find('a')['title'] # WORKS!
        role_title_list.append(title)
        company_name = t.find('span', class_='company').text
        company_name = company_name.strip('\n')
        company_list.append(company_name)
        salary = t.find('nobr' or 'sjcl')   #('nobr').next_sibling sjcl
        salaries.append(salary)
        summary = t.find('span', class_="summary").text
        summaries.append(summary)
    
    results = zip(location_list, role_title_list, company_list, salaries, summaries)
    results = pd.DataFrame(results)
    results.columns = col_list
    return(results)

# indeed_results = prime_time(indeed)
# indeed_output = pd.DataFrame(indeed_results)
# indeed_output.head()

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- Make sure these functions are robust and can handle cases where the data/field may not be available.
- Test the functions on the results above
- Include any other features you may want to use later (e.g. summary, #of reviews...)

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

### Complete the following code to collect results from multiple cities and starting points. 
- Indeed.com only has salary information for an estimated 20% of job postings. You may want to add other cities to the list below to gather more data. 
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [5]:
#main scraping piece
import numpy as np

url_template_first = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}"
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"

max_results_per_city = 100
col_list = ['location', 'title', 'company', 'salary', 'description']
sample_vals = [np.NaN,np.NaN,np.NaN,np.NaN,np.NaN]

d = dict.fromkeys(col_list, sample_vals)
results = pd.DataFrame(d)   # trying to make the columns the same so I can merge later


for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Atlanta','Boston','Berkeley',\
                 'Oakland', 'Raleigh', 'Brooklyn','Queens', 'St+Louis','Asheville','Portland','Maine',\
                 'Baltimore', 'Boulder', 'Denver', 'Reno', 'Des Moines', 'Cleveland',  'Detroit', 'Kansas+City',\
                 'Dallas', 'Washington+DC', 'Nashville', 'Seattle', 'Salt+Lake+City', 'Sacramento', 'Minneapolis', 'St+Paul']): 
    for start in range(0, max_results_per_city, 10):
        foo = requests.get(url_template.format(city, start))
        indeed = BeautifulSoup(foo.content, "lxml")
        indeed_results = prime_time(indeed)
        indeed_results.columns = col_list
        
        results = pd.concat([indeed_results, results], ignore_index=True)
    first = requests.get(url_template_first.format(city)) #GETS THE FIRST PAGE OF RESULTS, MISSED
    first_indeed = BeautifulSoup(first.content, "lxml")
    first_indeed_results = prime_time(first_indeed)
    first_indeed_results.columns = col_list
    results = pd.concat([first_indeed_results, results], ignore_index=True)
results.head(50)

,company,description,location,salary,title
0,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",None,Senior Research Analyst
1,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,None,Research Scientist [Exp. with Machine Learning...
2,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,None,Software Development Engineer – New AWS Machin...
3,Xpandit,"\nBut, more than just a “Buzzword Guy”, we see...","Lisbon, ME",None,Big Data Engineer
4,Etech Hi Inc.,"\nData analyst, data programmer, data scientis...","Brewer, ME","<nobr>$120,000 a year</nobr>",Data Analyst II/III
5,Alere,\nAdvanced knowledge of a variety of statistic...,"Scarborough, ME",None,Statistician
6,Alere,\nConducts and interprets data. Phases of a pr...,"Scarborough, ME",None,Scientist I (Research Assoc)
7,Alere,\nWorks in a multidisciplinary team with other...,"Scarborough, ME",None,Technical Manufacturing Chemist I
8,Department of the Navy,"\nEvaluating exposure data, surveys, work prac...","Kittery, ME","<nobr>$64,862 - $101,067 a year</nobr>","PHYSICAL SCIENCE TECHNICIAN (INSTRUCTOR),"
9,IDEXX Laboratories,"\nPrepares materials, performs experiments, ga...","Westbrook, ME 04092",None,Associate Scientist I
10,Maine Health Management Coalition,\nUnderstands mapping of data elements to anal...,"Topsham, ME",None,Senior Research Analyst
11,IDEXX Laboratories,\nWill interpret internally and externally gen...,"Westbrook, ME 04092",None,Systems Engineer
12,IDEXX Laboratories,\nSeeking an Associate Scientist to join a gro...,"Westbrook, ME 04092",None,Associate Scientist/Engineer – Systems Chemistry
13,U.S. Air Force,Help Airman get the proper healthcare they nee...,United States,None,Biomedical Laboratory Officer
14,Amazon Corporate LLC,Are you interested in building data pipelines ...,United States,None,"Software Development Engineer, Big Data- Reloc..."
15,U.S. Air Force,Help Airman get the proper healthcare they nee...,United States,None,Biomedical Laboratory Officer
16,"MAINE MOLECULAR QUALITY CONTROLS, INC",\nWe are seeking an experienced scientist to a...,"Saco, ME 04072",None,R&D Scientist II - Molecular Diagnostics
17,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",None,Senior Research Analyst
18,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,None,Research Scientist [Exp. with Machine Learning...
19,AdvancePierre Foods,Lead multiple complex development projects usi...,"Portland, ME",None,"Food Scientist-Poultry Protein, Culinary Conce..."
20,"Ricerca Biosciences, LLC",Review data for technical content and regulato...,United States,None,Analytical Scientist (LC-MSMS / NMR Small Mole...
21,"Sensory, Inc",15-02 - Research Scientist (Emerging Technolog...,United States,None,Research Scientist-Emerging Technology [3 to 5...
22,Amazon Corporate LLC,Are you interested in building data pipelines ...,United States,None,"Software Development Engineer, Big Data- Reloc..."
23,Confidential,Lead multiple complex development projects usi...,"Portland, ME",None,"Food Scientist-Poultry Protein, Culinary Conce..."
24,Amazon Retail LLC,You should enjoy working closely with your pee...,United States,None,Sr. Product Manager - Forecasting- Relocation ...
25,"Ricerca Biosciences, LLC",Review data for technical content and regulato...,United States,None,HPLC Method Development Scientist - Relocate t...
26,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,None,Software Development Engineer – New AWS Machin...
27,"Audible, Inc.","Knowledge in machine learning, natural languag...",United States,None,"Software Development Engineer, SEO- Relocation..."
28,"A2Z Development Center, Inc.",You have experience using data and metrics to ...,United States,None,Principal Product Manager - Prime Music- Reloc...
29,U.S. Air Force,Help Airman get the proper healthcare they nee...,United States,None,Biomedical Laboratory Officer
30,"MAINE MOLECULAR QUALITY CONTROLS, INC",\nWe are seeking an experienced scientist to a...,"Saco, ME 04072",None,R&D Scientist II - Molecular Diagnostics
31,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,None,Research Scientist [Exp. with Machine Learning...
32,Amazon Corporate LLC,Are you interested in building data pipelines ...,United States,None,"Software Development Engineer, Big Data- Reloc..."
33,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",None,Senior Research Analyst
34,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,None,Software Development Engineer – New AWS Machin...
35,"Ricerca Biosciences, LLC",Review data for technical content and regulato...,United States,None,Analytical Scientist (LC-MSMS / NMR Small Mole...
36,"Sensory, Inc",15-02 - Research Scientist (Emerging Technolog...,United States,None,Research Scientist-Emerging Technology [3 to 5...
37,AdvancePierre Foods,Lead multiple complex development projects usi...,"Portland, ME",None,"Food Scientist-Poultry Protein, Culinary Conce..."
38,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,None,Software Development Engineer – Emerging AWS M...
39,"A2Z Development Center, Inc.",Strong communication and data presentation ski...,United States,None,Software Development Engineer- Relocation Oppo...
40,"Audible, Inc.","Knowledge in machine learning, natural languag...",United States,None,"Software Development Engineer, SEO- Relocation..."
41,Amazon Corporate LLC,The Amazon Echo and Alexa organization is buil...,United States,None,Sr. Software Development Engineer - Machine Le...
42,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,None,Sr. Software Development Engineer – Emerging A...
43,U.S. Air Force,Help Airman get the proper healthcare they nee...,United States,None,Biomedical Laboratory Officer
44,Amazon Corporate LLC,Are you interested in building data pipelines ...,United States,None,"Software Development Engineer, Big Data- Reloc..."
45,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,None,Research Scientist [Exp. with Machine Learning...
46,"MAINE MOLECULAR QUALITY CONTROLS, INC",\nWe are seeking an experienced scientist to a...,"Saco, ME 04072",None,R&D Scientist II - Molecular Diagnostics
47,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",None,Senior Research Analyst
48,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,None,Software Development Engineer – New AWS Machin...
49,"Ricerca Biosciences, LLC",Review data for technical content and regulato...,United States,None,Analytical Scientist (LC-MSMS / NMR Small Mole...

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

Lastly, we need to clean up salary data. 
1. Some of the salaries are not yearly but hourly, these will be useful to us for now 2. The salaries are given as text and usually with ranges.

#### Filter out the salaries that are not yearly (filter those that refer to hour)

In [6]:
import numpy as np
            
# results['annual_salary'] = results['salary']

results_nan = results.replace({None:np.NaN})
results = results_nan
results.head(10)

,company,description,location,salary,title
0,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",NaN,Senior Research Analyst
1,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,NaN,Research Scientist [Exp. with Machine Learning...
2,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Software Development Engineer – New AWS Machin...
3,Xpandit,"\nBut, more than just a “Buzzword Guy”, we see...","Lisbon, ME",NaN,Big Data Engineer
4,Etech Hi Inc.,"\nData analyst, data programmer, data scientis...","Brewer, ME","<nobr>$120,000 a year</nobr>",Data Analyst II/III
5,Alere,\nAdvanced knowledge of a variety of statistic...,"Scarborough, ME",NaN,Statistician
6,Alere,\nConducts and interprets data. Phases of a pr...,"Scarborough, ME",NaN,Scientist I (Research Assoc)
7,Alere,\nWorks in a multidisciplinary team with other...,"Scarborough, ME",NaN,Technical Manufacturing Chemist I
8,Department of the Navy,"\nEvaluating exposure data, surveys, work prac...","Kittery, ME","<nobr>$64,862 - $101,067 a year</nobr>","PHYSICAL SCIENCE TECHNICIAN (INSTRUCTOR),"
9,IDEXX Laboratories,"\nPrepares materials, performs experiments, ga...","Westbrook, ME 04092",NaN,Associate Scientist I

In [7]:
def salary_clean(string):
    if type(string) == float:
        return np.NaN
    elif string == np.NaN:
        return np.NaN
    else:
        try:
            return((string.split("<nobr>")[1]).split("</nobr>")[0])
        except (TypeError, IndexError): 
            return np.NaN

for b in range(len(results['salary'])):
    results['salary'][b] = salary_clean(str(results['salary'][b]))
    

results.head(15)

,company,description,location,salary,title
0,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",NaN,Senior Research Analyst
1,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,NaN,Research Scientist [Exp. with Machine Learning...
2,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Software Development Engineer – New AWS Machin...
3,Xpandit,"\nBut, more than just a “Buzzword Guy”, we see...","Lisbon, ME",NaN,Big Data Engineer
4,Etech Hi Inc.,"\nData analyst, data programmer, data scientis...","Brewer, ME","$120,000 a year",Data Analyst II/III
5,Alere,\nAdvanced knowledge of a variety of statistic...,"Scarborough, ME",NaN,Statistician
6,Alere,\nConducts and interprets data. Phases of a pr...,"Scarborough, ME",NaN,Scientist I (Research Assoc)
7,Alere,\nWorks in a multidisciplinary team with other...,"Scarborough, ME",NaN,Technical Manufacturing Chemist I
8,Department of the Navy,"\nEvaluating exposure data, surveys, work prac...","Kittery, ME","$64,862 - $101,067 a year","PHYSICAL SCIENCE TECHNICIAN (INSTRUCTOR),"
9,IDEXX Laboratories,"\nPrepares materials, performs experiments, ga...","Westbrook, ME 04092",NaN,Associate Scientist I
10,Maine Health Management Coalition,\nUnderstands mapping of data elements to anal...,"Topsham, ME",NaN,Senior Research Analyst
11,IDEXX Laboratories,\nWill interpret internally and externally gen...,"Westbrook, ME 04092",NaN,Systems Engineer
12,IDEXX Laboratories,\nSeeking an Associate Scientist to join a gro...,"Westbrook, ME 04092",NaN,Associate Scientist/Engineer – Systems Chemistry
13,U.S. Air Force,Help Airman get the proper healthcare they nee...,United States,NaN,Biomedical Laboratory Officer
14,Amazon Corporate LLC,Are you interested in building data pipelines ...,United States,NaN,"Software Development Engineer, Big Data- Reloc..."

In [8]:
# print(results['salary'].isnull().value_counts()) #only 62 salaries in here it appears

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [9]:
import re
import string 

def salarizer(salary):  
    '''remove all non-numeric characters from salary strings for non-null vals '''
    if pd.isnull(salary) == False:
        salary = salary.translate(None, "$|anmonthhurye, ")
        return(salary) 
    else:
        return np.NaN

    


def salary_average(salary): 
    '''if a salary range, take the average, otherwise return the number'''
    float_sal_list = []
    try:
        salary_str = str(salary)
        sal_list = str.split(salary_str, "-")
        for item in sal_list:
            try:
                float_sal_list.append(float(item))
            except ValueError:
                return salary
        if len(float_sal_list) > 1:
            avg_sal = sum(float_sal_list)/float(len(float_sal_list))
            return(avg_sal)
        else:
            return float(salary)
    except IndexError:
        return np.NaN
    

    
for hannah in range(len(results['salary'])):
    results['salary'][hannah] = salarizer(results['salary'][hannah])
    results['salary'][hannah] = salary_average(results['salary'][hannah])

In [12]:



results['hourly_salary'] = results['salary'].applymap(lambda x: x if float(x) < 200 else np.nan)
results['monthly_salary'] = results['salary'].applymap(lambda x: x if float(x) < 10000 else np.nan)
results['annual_salary'] = results['salary'].applymap(lambda x: x if float(x) > 10000 else np.nan)



# #categorize hourly, monthly, salaries ---- this is far and away the most time-intensive part of the script
###REWROTE THIS FUNCTION BELOW ABOVE FOR PERFORMANCE REASONS

# results['monthly_salary'] = np.NaN
# results['annual_salary'] = np.NaN

# for where, number in enumerate(results['salary']):
#     if number < 200: #max of hourly is less
#         results['hourly_salary'][where] = number
#     elif number <= 10000: #max of monthly is less than this 
#         results['monthly_salary'][where] = number
#     else:
#         results['annual_salary'][where] = number

/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/HudsonCavanagh/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Save your results as a CSV

In [13]:
#remove duplicates! Addition of Oakland, Berkeley, SF etc... will lead to dupes

results.drop_duplicates(inplace=1)

In [14]:
results.to_csv("indeed_ds_data30_dedupe.csv", encoding='utf8')

#at this point, there are 158 annual salaries in my dataset
#https://docs.google.com/spreadsheets/d/1Luw7rFbYnh31zq2ZsCJ0pGrJQ4FnVfsHv1RRTUmGGuw/edit?usp=sharing

In [15]:
results.head()

,company,description,location,salary,title,hourly_salary,monthly_salary,annual_salary
0,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",NaN,Senior Research Analyst,NaN,NaN,NaN
1,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,NaN,Research Scientist [Exp. with Machine Learning...,NaN,NaN,NaN
2,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Software Development Engineer – New AWS Machin...,NaN,NaN,NaN
3,Xpandit,"\nBut, more than just a “Buzzword Guy”, we see...","Lisbon, ME",NaN,Big Data Engineer,NaN,NaN,NaN
4,Etech Hi Inc.,"\nData analyst, data programmer, data scientis...","Brewer, ME",120000,Data Analyst II/III,NaN,NaN,120000

In [16]:
indeeder = results
indeeder.head()

,company,description,location,salary,title,hourly_salary,monthly_salary,annual_salary
0,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",NaN,Senior Research Analyst,NaN,NaN,NaN
1,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,NaN,Research Scientist [Exp. with Machine Learning...,NaN,NaN,NaN
2,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Software Development Engineer – New AWS Machin...,NaN,NaN,NaN
3,Xpandit,"\nBut, more than just a “Buzzword Guy”, we see...","Lisbon, ME",NaN,Big Data Engineer,NaN,NaN,NaN
4,Etech Hi Inc.,"\nData analyst, data programmer, data scientis...","Brewer, ME",120000,Data Analyst II/III,NaN,NaN,120000

In [ ]:
indeeder.describe()

### Beginning Analysis Phase of Project

In [17]:
print(type(indeeder['annual_salary'][4]),type(indeeder['annual_salary'][5]), type(indeeder['annual_salary'][4000]))

<type 'float'> <type 'float'> <type 'float'>

In [18]:
# annual_avg_sal = np.mean(indeed['annual_salary']) #not working, typeerror but can't figure it out

def meaner(series):
    '''finds the mean amidst nans'''
    mean_list = []
    for example in series:
        if example != np.NaN:
            try:
                mean_list.append(float(example))
            except (TypeError, ValueError):
                continue
        else:
            continue
    return(np.nanmean(mean_list))

In [19]:
indeeder['salary'] = (indeeder['monthly_salary']*12)
indeeder['salary'] = (indeeder['hourly_salary']*12*5*9)#12 month, 5 days/ week, 9 hours/day
avg_pay = meaner(indeeder['salary'])
avg_annual_salary = float(meaner(indeeder['annual_salary']))

print("all data:", avg_pay,"annual:", avg_annual_salary)
#all data: 17248.0764706 annual: 107525.268987
#conclusion is: only use annual pay salaries, or avg_annual_salary

all data: 17258.6647059 annual: 106627.525641

In [20]:
# indeeder['above_average_salary'] = indeeder['annual_salary'].apply(lambda x: 1 if x > avg_annual_salary else continue)
# indeeder['above_average_salary'] = indeeder['annual_salary'].apply(lambda x: 0 if x < avg_annual_salary else continue)

def checker(value):
    try:
        if value > avg_annual_salary:
            return 1
        elif value < avg_annual_salary:
            return 0
    except ValueError:
        return 'error'

indeeder['above_average_salary'] = indeeder['annual_salary'].to_frame().applymap(checker)

In [21]:
#create target

#######THIS WAS REPLACED BY FUNCTION ABOVE USING APPLYMAP
# indeeder['above_average_sal'] = np.NaN
# for ind, val in enumerate(indeeder['annual_salary']):
#     if val != np.NaN:
#         try:
#             if float(val) >  107525.26:
#                 indeeder['above_average_sal'][ind] = 1
#             elif float(val) < 107525.26:
#                 indeeder['above_average_sal'][ind] = 0
#             else:
#                 indeeder['above_average_sal'][ind] = 'error'
#         except ValueError:
#             continue
#         else:
#             continue
#     else:
#         continue

In [22]:

skill_list = ['python', 'r', 'learning', 'SQL', 'visualiz', 'mining', 'mung', 'clean', 'scikit-learn']
big_list = ['big', 'advanced', 'volume', 'hadoop', 'spark', 'engineer', 'large']
senior_list = ['senior', 'sr', 'Sr.', 'lead', 'principle', 'chief', 'specialist']

indeeder['skill_count'] = 0  
indeeder['senior_count'] = 0 
indeeder['big_count'] = 0 
indeeder['constant'] = 1
indeeder = indeeder.reset_index()
        
        
for z in range(len(indeeder['description'])):
    try:
        for h in str(indeeder['description'][z]).split():  
            if any(h in s for s in skill_list):
                indeeder.ix[z,'skill_count'] += 1
        for u in indeeder['description'][z].split():  
            if any(u in k for k in senior_list):
                indeeder.ix[z,'senior_count'] += 1
        for d in indeeder['description'][z].split():
            if any(d in q for q in big_list):
                indeeder.ix[z,'big_count'] += 1
    except (ValueError, AttributeError):
        continue
            
indeeder.head(30)

#looks like this starts dropping values around 15th row, also rows 29-39

,index,company,description,location,salary,title,hourly_salary,monthly_salary,annual_salary,above_average_salary,skill_count,senior_count,big_count,constant
0,0,Maine Health Management Coalition,Understands mapping of data elements to analyt...,"Topsham, ME",NaN,Senior Research Analyst,NaN,NaN,NaN,NaN,0,0,0,1
1,1,"Sensory, Inc","16-01 - Research Scientist – BOULDER, CO. As a...",United States,NaN,Research Scientist [Exp. with Machine Learning...,NaN,NaN,NaN,NaN,0,0,0,1
2,2,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Software Development Engineer – New AWS Machin...,NaN,NaN,NaN,NaN,1,1,1,1
3,3,Xpandit,"\nBut, more than just a “Buzzword Guy”, we see...","Lisbon, ME",NaN,Big Data Engineer,NaN,NaN,NaN,NaN,0,0,0,1
4,4,Etech Hi Inc.,"\nData analyst, data programmer, data scientis...","Brewer, ME",NaN,Data Analyst II/III,NaN,NaN,120000,1,0,0,0,1
5,5,Alere,\nAdvanced knowledge of a variety of statistic...,"Scarborough, ME",NaN,Statistician,NaN,NaN,NaN,NaN,1,1,1,1
6,6,Alere,\nConducts and interprets data. Phases of a pr...,"Scarborough, ME",NaN,Scientist I (Research Assoc),NaN,NaN,NaN,NaN,3,3,3,1
7,7,Alere,\nWorks in a multidisciplinary team with other...,"Scarborough, ME",NaN,Technical Manufacturing Chemist I,NaN,NaN,NaN,NaN,2,2,2,1
8,8,Department of the Navy,"\nEvaluating exposure data, surveys, work prac...","Kittery, ME",NaN,"PHYSICAL SCIENCE TECHNICIAN (INSTRUCTOR),",NaN,NaN,82964.5,0,0,0,0,1
9,9,IDEXX Laboratories,"\nPrepares materials, performs experiments, ga...","Westbrook, ME 04092",NaN,Associate Scientist I,NaN,NaN,NaN,NaN,1,0,1,1
10,10,Maine Health Management Coalition,\nUnderstands mapping of data elements to anal...,"Topsham, ME",NaN,Senior Research Analyst,NaN,NaN,NaN,NaN,0,0,0,1
11,11,IDEXX Laboratories,\nWill interpret internally and externally gen...,"Westbrook, ME 04092",NaN,Systems Engineer,NaN,NaN,NaN,NaN,0,0,0,1
12,12,IDEXX Laboratories,\nSeeking an Associate Scientist to join a gro...,"Westbrook, ME 04092",NaN,Associate Scientist/Engineer – Systems Chemistry,NaN,NaN,NaN,NaN,2,1,2,1
13,13,U.S. Air Force,Help Airman get the proper healthcare they nee...,United States,NaN,Biomedical Laboratory Officer,NaN,NaN,NaN,NaN,2,1,2,1
14,14,Amazon Corporate LLC,Are you interested in building data pipelines ...,United States,NaN,"Software Development Engineer, Big Data- Reloc...",NaN,NaN,NaN,NaN,1,1,1,1
15,16,"MAINE MOLECULAR QUALITY CONTROLS, INC",\nWe are seeking an experienced scientist to a...,"Saco, ME 04072",NaN,R&D Scientist II - Molecular Diagnostics,NaN,NaN,NaN,NaN,1,0,1,1
16,19,AdvancePierre Foods,Lead multiple complex development projects usi...,"Portland, ME",NaN,"Food Scientist-Poultry Protein, Culinary Conce...",NaN,NaN,NaN,NaN,0,0,0,1
17,20,"Ricerca Biosciences, LLC",Review data for technical content and regulato...,United States,NaN,Analytical Scientist (LC-MSMS / NMR Small Mole...,NaN,NaN,NaN,NaN,0,0,0,1
18,21,"Sensory, Inc",15-02 - Research Scientist (Emerging Technolog...,United States,NaN,Research Scientist-Emerging Technology [3 to 5...,NaN,NaN,NaN,NaN,2,0,0,1
19,23,Confidential,Lead multiple complex development projects usi...,"Portland, ME",NaN,"Food Scientist-Poultry Protein, Culinary Conce...",NaN,NaN,NaN,NaN,0,0,0,1
20,24,Amazon Retail LLC,You should enjoy working closely with your pee...,United States,NaN,Sr. Product Manager - Forecasting- Relocation ...,NaN,NaN,NaN,NaN,2,2,2,1
21,25,"Ricerca Biosciences, LLC",Review data for technical content and regulato...,United States,NaN,HPLC Method Development Scientist - Relocate t...,NaN,NaN,NaN,NaN,0,0,0,1
22,27,"Audible, Inc.","Knowledge in machine learning, natural languag...",United States,NaN,"Software Development Engineer, SEO- Relocation...",NaN,NaN,NaN,NaN,1,2,2,1
23,28,"A2Z Development Center, Inc.",You have experience using data and metrics to ...,United States,NaN,Principal Product Manager - Prime Music- Reloc...,NaN,NaN,NaN,NaN,0,0,0,1
24,38,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Software Development Engineer – Emerging AWS M...,NaN,NaN,NaN,NaN,1,1,1,1
25,39,"A2Z Development Center, Inc.",Strong communication and data presentation ski...,United States,NaN,Software Development Engineer- Relocation Oppo...,NaN,NaN,NaN,NaN,0,0,0,1
26,41,Amazon Corporate LLC,The Amazon Echo and Alexa organization is buil...,United States,NaN,Sr. Software Development Engineer - Machine Le...,NaN,NaN,NaN,NaN,1,1,0,1
27,42,"Amazon Web Services, Inc.",Computer Science fundamentals in object-orient...,United States,NaN,Sr. Software Development Engineer – Emerging A...,NaN,NaN,NaN,NaN,1,1,1,1
28,127,Dept. Agriculture,\nCollaborating with scientists in other state...,"Augusta, ME",NaN,SENIOR GEOLOGIST,NaN,NaN,49628.5,0,2,1,1,1
29,128,Alere,\nDirect and oversee CRO activities including ...,"Scarborough, ME",NaN,"Director, Clinical Affairs Infectious Disease",NaN,NaN,NaN,NaN,0,0,0,1

In [23]:
# before creating subsample with valid y values, checking shape/size
indeeder['annual_salary'].value_counts()

Baseline accuracy in the model should be 50%, as we're going to compare each opportunity to the mean value found in the dataset, meaning there are only two options: higher or lower. If we cannot create a model that outperforms a coinflip, we have failed miserably.

In [24]:
import statsmodels.api as sm
import pandas as pd
import pylab as pl
import numpy as np
import patsy

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import roc_auc_score

vals = [0,1]
indeeder_subsamp = indeeder.loc[indeeder['above_average_salary'].isin(vals)]
y = indeeder_subsamp['above_average_salary']
y.head()
#only 5 values to train on? Can't figure out where I'm losing all this data

4     1
8     0
28    0
30    0
36    0
Name: above_average_salary, dtype: float64

In [ ]:
city_list = ['SF', 'San Francisco', 'Francisco', 'New York', 'York', 'NY', 'NYC']
indeeder['big_city'] = 0

for gindex, gvalue in enumerate(indeeder['location']):
    if any(str(gvalue.split()) in city_list:
        indeeder['big_city'][gindex] = 1


X_lame = pd.get_dummies(indeeder.loc['big_city', 'constant'])

In [25]:
#most basic logistic regression
indeeder.describe()

,index,salary,hourly_salary,monthly_salary,above_average_salary,skill_count,senior_count,big_count,constant
count,2276.000000,51.000000,51.000000,24.000000,159.000000,2276.000000,2276.000000,2276.000000,2276
mean,2313.063269,17258.664706,31.960490,6071.125000,0.496855,0.966608,0.880492,0.735501,1
std,1428.396348,12033.140332,22.283593,2135.174391,0.501570,1.114828,1.048598,0.914059,0
min,0.000000,5400.000000,10.000000,2864.000000,0.000000,0.000000,0.000000,0.000000,1
25%,1150.750000,10975.500000,20.325000,3835.500000,0.000000,0.000000,0.000000,0.000000,1
50%,2047.500000,12420.000000,23.000000,5950.000000,0.000000,1.000000,1.000000,0.000000,1
75%,3416.250000,17903.700000,33.155000,8124.500000,1.000000,2.000000,1.000000,1.000000,1
max,5087.000000,67500.000000,125.000000,9350.000000,1.000000,6.000000,6.000000,5.000000,1

In [31]:
dumdums = pd.get_dummies(indeeder_subsamp[['senior_count', 'skill_count', 'big_count', 'constant']])#will add 'big_city' later

In [32]:
X = dumdums
X.head()

    senior_count  skill_count  big_count  constant
4              0            0          0         1
8              0            0          0         1
28             1            2          1         1
30             1            1          0         1
36             1            1          1         1

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=50)

In [34]:
lr_basic = LogisticRegression(solver='liblinear') #can i take away penalty? make sure this is statsmodels
lr_basic_model = lr_basic.fit(X_train, y_train)
lr_basic_ypred = lr_basic_model.predict(X_test)

lr_basic_cm = confusion_matrix(y_test, lr_basic_ypred, labels=lr_basic.classes_)
lr_basic_cm_df = pd.DataFrame(lr_basic_cm, columns=lr_basic.classes_, index=lr_basic.classes_) #lr_l1_SF is instance of model
lr_basic_cm_df

    0  1
0  19  7
1  18  9

In [2]:
# generic curve plotting function
import matplotlib.pyplot as plt
from sklearn import metrics
def auc_plotting_function(rate1, rate2, rate1_name, rate2_name, curve_name):
    AUC = metrics.auc(rate1, rate2)
    # Plot of a ROC curve for class 1 (has_cancer)
    plt.figure(figsize=[11,9])
    plt.plot(rate1, rate2, label=curve_name + ' (area = %0.2f)' % AUC, linewidth=4)
    plt.plot([0, 1], [0, 1], 'k--', linewidth=4)
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.05])
    plt.xlabel(rate1_name, fontsize=18)
    plt.ylabel(rate2_name, fontsize=18)
    plt.title(curve_name + ' for salary > ~100,000', fontsize=18)
    plt.legend(loc="lower right")
    plt.show()

# plot receiving operator characteristic curve
def plot_roc(y_true, y_score):
    fpr, tpr, _ = metrics.roc_curve(y_true, y_score)
    auc_plotting_function(fpr, tpr, 'False Positive Rate', 'True Positive Rate', 'ROC')

In [3]:
y_score_basic = lr_basic.decision_function(X_test)
plot_roc(y_test, y_score_basic)

NameError: name 'lr_basic' is not defined

In [ ]:
print(classification_report(y_test, lr_basic_ypred, labels=lr_basic.classes_))

In [ ]:
cross_val_score(lr_basic, X, y, cv=10).mean()

In [ ]:
#Lasso
lr_l1 = LogisticRegression(penalty='l1', solver='liblinear') #can i take away penalty? make sure this is statsmodels
lr_l1_model = lr_l1.fit(X_train, y_train)
lr_l1_ypred = lr_l1_model.predict(X_test)

lr_l1_cm = confusion_matrix(y_test, lr_l1_ypred, labels=lr_l1.classes_)
lr_l1_cm_df = pd.DataFrame(lr_l1_cm, columns=lr_basic.classes_, index=lr_l1.classes_) #lr_l1_SF is instance of model
lr_l1_cm_df

In [ ]:
print(classification_report(y_test, lr_l1_ypred, labels=lr_l1.classes_))

In [ ]:
cross_val_score(lr_l1, X, y, cv=10).mean()

In [ ]:
Y_score_l1 = lr_l1.decision_function(X_test)
plot_roc(Y_test, Y_score_l1)

In [ ]:
#Ridge
lr_l2 = LogisticRegression(penalty='l2', solver='liblinear') #can i take away penalty? make sure this is statsmodels
lr_l2_model = lr_l2.fit(X_train, y_train)
lr_l2_ypred = lr_l2_model.predict(X_test)

lr_l2_cm = confusion_matrix(y_test, lr_l2_ypred, labels=lr_l2.classes_)
lr_l2_cm_df = pd.DataFrame(lr_lr_l2_cm, columns=lr_l2.classes_, index=lr_l2.classes_) #lr_l1_SF is instance of model
lr_l2_cm_df

In [ ]:
print(classification_report(y_test, lr_l2_ypred, labels=lr_l2.classes_))

In [ ]:
cross_val_score(lr_l2, X, y, cv=10).mean()

In [ ]:
Y_score_l2 = lr_l1.decision_function(X_test)
plot_roc(Y_test, Y_score_l2)

In [ ]:
#grid search optimization
logreg = LogisticRegression(solver='liblinear')
C_vals = [0.0001, 0.001, 0.01, 0.1, .15, .25, .275, .33, 0.5, .66, 0.75, 1.0, 2.5, 5.0, 10.0, 100.0, 1000.0]
penalties = ['l1','l2']

gs = GridSearchCV(logreg, {'penalty': penalties, 'C': C_vals}, verbose=False, cv=15)
gs.fit(X, y)

In [ ]:
gs.best_params_

In [ ]:
logreg = LogisticRegression(C=gs.best_params_['C'], penalty=gs.best_params_['penalty'])
cv_model = logreg.fit(X_train, y_train)

In [ ]:
cv_pred = cv_model.predict(X_test)

In [ ]:
cm3 = confusion_matrix(vice_y_test, cv_pred, labels=logreg.classes_)
cm3 = pd.DataFrame(cm3, columns=logreg.classes_, index=logreg.classes_)

In [ ]:
cm3

In [ ]:
print(classification_report(vice_y_test, cv_pred, labels=logreg.classes_))

In [ ]:
Y_score_gs = logreg.decision_function(X_test)
plot_roc(Y_test, Y_score_gs)