In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string 
%matplotlib inline

In [159]:
# read in the raw data from the github url
df_early = pd.read_csv("https://raw.githubusercontent.com/suneel0101/lesson-plan/master/crunchbase_monthly_export.csv")

In [86]:
df_early.head(20)

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
0,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,|Credit|Technology|Services|Finance|,Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
1,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012,6/30/12,6/30/12,NaN
2,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
3,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012,8/9/12,8/9/12,NaN
4,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011,4/1/11,4/1/11,NaN
5,/organization/n-plusn,#NAME?,http://plusn.com,|Software|,Software,"600,000",operating,USA,NY,New York City,New York,1,1/1/12,2012-01,2012-Q1,2012,8/29/12,8/29/12,NaN
6,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,"7,000,000",NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,10/10/11,2011-10,2011-Q4,2011,5/31/13,5/31/13,NaN
7,/organization/fox-networks,.Fox Networks,http://www.dotfox.com,|Advertising|,Advertising,"4,912,393",closed,ARG,NaN,Buenos Aires,Buenos Aires,1,NaN,NaN,NaN,NaN,1/16/07,1/16/07,NaN
8,/organization/0-6-com,0-6.com,http://www.0-6.com,|Curated Web|,Curated Web,"2,000,000",operating,NaN,NaN,NaN,NaN,1,1/1/07,2007-01,2007-Q1,2007,3/19/08,3/19/08,NaN
9,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,|Software|,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,1/1/10,2010-01,2010-Q1,2010,7/24/14,7/24/14,NaN
10,/organization/0xdata,0xdata,http://www.0xdata.com,|Analytics|,Analytics,"1,700,000",operating,USA,CA,SF Bay Area,Mountain View,1,1/1/11,2011-01,2011-Q1,2011,1/3/13,1/3/13,NaN
11,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,|E-Commerce|,E-Commerce,"40,000",operating,CHL,NaN,Santiago,Las Condes,1,1/1/12,2012-01,2012-Q1,2012,2/18/13,2/18/13,NaN
12,/organization/1-4-all,1-4 All,NaN,|Entertainment|Games|Software|,Entertainment,-,operating,USA,NC,North Carolina,Connellys Springs,1,NaN,NaN,NaN,NaN,4/21/13,4/21/13,NaN
13,/organization/1-800-dentist,1-800-DENTIST,http://www.1800dentist.com,|Health and Wellness|,Health and Wellness,-,operating,USA,CA,Los Angeles,Los Angeles,1,1/1/86,1986-01,1986-Q1,1986,8/19/10,8/19/10,NaN
14,/organization/1-800-doctors,1-800-DOCTORS,http://1800doctors.com,|Health and Wellness|,Health and Wellness,"1,750,000",operating,USA,NJ,Newark,Iselin,1,1/1/84,1984-01,1984-Q1,1984,3/2/11,3/2/11,NaN
15,/organization/1-618-technology,1.618 Technology,NaN,|Real Estate|,Real Estate,-,operating,USA,FL,Orlando,Orlando,1,12/7/13,2013-12,2013-Q4,2013,1/22/14,1/22/14,NaN
16,/organization/10-20-media,10-20 Media,http://www.10-20media.com,|E-Commerce|,E-Commerce,"2,050,000",operating,USA,MD,Baltimore,Woodbine,4,1/1/01,2001-01,2001-Q1,2001,6/18/09,12/28/11,NaN
17,/organization/1000-corks,1000 Corks,http://1000corks.com,|Search|,Search,"40,000",operating,USA,OR,"Portland, Oregon",Lake Oswego,1,1/1/08,2008-01,2008-Q1,2008,8/23/11,8/23/11,NaN
18,/organization/1000-markets,1000 Markets,http://www.1000markets.com,|Marketplaces|Art|E-Commerce|,Art,"500,000",acquired,NaN,NaN,NaN,NaN,1,1/1/09,2009-01,2009-Q1,2009,5/15/09,5/15/09,NaN
19,/organization/1000jobboersen-de,1000jobboersen.de,http://www.1000jobboersen.de,|Curated Web|,Curated Web,-,operating,DEU,NaN,Berlin,Berlin,1,NaN,NaN,NaN,NaN,9/16/11,9/16/11,NaN

#### 1. Clean the data. Use .apply and lambda functions where you can

In [160]:
# rename the columns to remove spaces and extra characters

df = df_early
#get rid of spaces in columns
df.rename(columns=lambda x: x.strip(), inplace=True)
#split the category_list into a real list
df['category_list'] = df['category_list'].apply(lambda x: str(x).split('|')[1:-1])
#get rid of all whitespace before and after all elements of dataset
df.applymap(lambda x: str(x).strip())
#string.translate(s, table[, deletechars])
#['#','&','.','[',']','-','+','?','!','(',')','{','}','/','$']))
##&.,[]-+?!(){}/$
#can't index by name beacuse its messy: 
df.index = df["name"]
#df_cleaner = df
df.head()
#df_cleaner.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,Unnamed: 18
name,,,,,,,,,,,,,,,,,,,
Canal do Credito,/organization/canal-do-credito,Canal do Credito,http://www.canaldocredito.com.br,"[Credit, Technology, Services, Finance]",Credit,"750,000",NaN,BRA,NaN,Rio de Janeiro,Belo Horizonte,1,NaN,NaN,NaN,NaN,1/1/10,1/1/10,NaN
#waywire,/organization/waywire,#waywire,http://www.waywire.com,"[Entertainment, Politics, Social Media, News]",Entertainment,"1,750,000",acquired,USA,NY,New York City,New York,1,6/1/12,2012-06,2012-Q2,2012,6/30/12,6/30/12,NaN
&TV Communications,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,[Games],Games,"4,000,000",operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,6/4/10,9/23/10,NaN
'Rock' Your Paper,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,"[Publishing, Education]",Education,"40,000",operating,EST,NaN,Tallinn,Tallinn,1,10/26/12,2012-10,2012-Q4,2012,8/9/12,8/9/12,NaN
(In)Touch Network,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,"[Electronics, Guides, Coffee, Restaurants, Mus...",Apps,"1,500,000",operating,GBR,NaN,London,London,1,4/1/11,2011-04,2011-Q2,2011,4/1/11,4/1/11,NaN

In [88]:
print(df.index)

Index([             u'Canal do Credito',                      u'#waywire',
                  u'&TV Communications',             u''Rock' Your Paper',
                   u'(In)Touch Network',                        u'#NAME?',
                       u'.Club Domains',                 u'.Fox Networks',
                             u'0-6.com',              u'004 Technologies',
       ...
                             u'Zynstra',                        u'ZYOMYX',
                    u'Zyraz Technology',                         u'Zyrra',
                          u'Zytoprotec',                         u'Zzish',
       u'ZZNode Science and Technology',                      u'Zzzzapp!',
                       u'[a]list games',                         u'[x+1]'],
      dtype='object', name=u'name', length=44950)

In [161]:
# convert the funding, year founded, and funding_rounds columns to integers
#find the weird blank value space at index 9, then replace it with np.nans


def _dollars_to_int(x):
    try:
        y = (str(x)).replace(',', '')
        return int(y)
    except:
        pass
    
def date_to_dtime(x):
    try:
        int(x).to_datetime
    except:
        pass


df['founded_at'].apply(date_to_dtime)

custom_null = df['funding_total_usd'][9]


#funding amount conversion
#df['funding_total_usd'] = df['funding_total_usd'].map(lambda x: str(x).strip(","))
df['funding_total_usd'] = df['funding_total_usd'].map(_dollars_to_int)
df['funding_rounds'] = df['funding_rounds'].map(_dollars_to_int)
#year founded conversation

#funding_rounds
df['funding_rounds'].map(lambda x: int(x))
#funding per round creation

#print(df['funding_total_usd'])


df['funding_total_usd'].replace(custom_null, np.NaN, inplace=True)
df['avg_funding_per_round'] = df['funding_total_usd']/df['funding_rounds']
#df['avg_funding_per_round'].head()

In [162]:
df['avg_funding_per_round'].head(20)

name
Canal do Credito       750000
#waywire              1750000
&TV Communications    2000000
'Rock' Your Paper       40000
(In)Touch Network     1500000
#NAME?                 600000
.Club Domains         7000000
.Fox Networks         4912393
0-6.com               2000000
004 Technologies          NaN
0xdata                1700000
1,2,3 Listo             40000
1-4 All                   NaN
1-800-DENTIST             NaN
1-800-DOCTORS         1750000
1.618 Technology          NaN
10-20 Media            512500
1000 Corks              40000
1000 Markets           500000
1000jobboersen.de         NaN
Name: avg_funding_per_round, dtype: float64

In [ ]:
# convert category_list so that each cell is a list of categories

#see above

In [ ]:
# use value_counts on market, status, and country_code to check for any repeats or misnamed entries

In [ ]:
# BONUS: convert the date columns to appropriate datetime objects

#### 2. Using isnull(), take a subset of the dataframe that has no founded at date

#### 3. Create a new column, founded_year_x, that's a copy of founded_year. Then, replace all the missing values with either the mean , mode, or median of that column. 
Add a note explaining which statistic you picked and why:

#### 4. Take a subset of US-based companies using boolean selection

#### 5. Create a pivot table showing total, mean, and median funding amount by year

#### 6. Create a pivot table showing total, mean and median funding amount by market

#### 7. CHALLENGE: Using matplotlib, create a scatter plot showing funding amount on the y-axis, and first_funding_date on the x-axis
(first_funding_date will need to be a timestamp)

#### 8. Here's the fun part. Create a hypothesis based on your data that you can reasonably test. 
For example: "Credit companies based in the US that only get 1 round of funding tend to receive more funding than companies based outside the US"



When you have your hypothesis, write it below, and Slack it to the instructors so we can check in.

#### 9. Test your hypothesis. 

You'll need to evaluate your hypothesis using a t-test (see Monday's lecture 1.3), so make sure you have enough data compare samples. If your original hypothesis is too narrow, you may need to broaden the scope.

#### 10. CHALLENGE
- Plot the distribution of both samples
- Explain your results in one short sentence. 
- Explain your result in a slighly longer technical paragraph, touching on the statistics you presented. 
- Subset your findings: if you looked at a certain market in a certain geography, break it down by another variable (e.g number of funding rounds) and compare those samples.